@model ProductListModel

@{
    var productList = ViewBag.Prod as ProductListModel;
    var a = "a";
}
@if (productList.ProductList != null && productList.ProductList.Count > 0)
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Copertina</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Prezzo</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in productList.ProductList)
            {
                <tr>
                    <td><img src=@product.ImgURL class="card-img-home imgProd" style="width:100px;" alt=@product.Name></td>
                    <td>@product.Name</td>
                    <td>@product.IdCategory</td>
                    <td>@product.Price.ToString()</td>
                    <td>
                        <a class="btn btn-warning m-2" asp-controller="Products" asp-action="Edit" asp-route-id="@product.IdProd">Edit</a>
                        <a class="btn btn-danger m-2" asp-controller="Products" asp-action="Delete" asp-route-id="@product.IdProd">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}